.App {
  text-align: center;
}

.App-header {
  width: 100%;
  background-color: rgba(255,255,255,0.26);
  min-height: fit-content;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.bannerImage{

  height: 238.11px;
}

.profileImg{
  height: 168px;
  margin-top: -110px;
  border-radius: 100px;
  border-width: 6;
  border-color: white;
  border-style: solid;
  overflow: hidden;
}

.nameStyle{
  font-weight: 600;
  color: black;
  margin-top: 2px;
}
.ocpStyle{
  opacity: 0.8;
  font-size: 17px;
  font-weight: 600;
  
}
.cityStyle{
  font-size: 16px;
  opacity: 0.8;
  
  font-weight: 400;
}
.saveContact{
  background-color: black !important;
  border-radius: 56px !important;
  height: 67px !important;
  width: 318px !important;
  font-weight: bold !important;
  font-size: 19px !important;
  text-transform: capitalize !important;

}
.createProfile{
  background-color: white !important ;
  color: black !important;
  height: 45px  !important;
  margin: 50px !important;
  font-size: 16px !important;
  font-weight: 600px !important;
  text-transform: none !important;
  border-radius: 33px !important;
  box-shadow:rgb(0 0 0 / 20%) 0px 2px 12px !important ;
}
.productsHeading{
  text-align: start;
  margin-left: 10vh;
}
.platformMainContainer{
  margin-left: 50px !important;
  margin-top: 15px !important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
